// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// todo: can't use liquid templating here?

// try to remove the extra space that comes above a list
li {
    // one of these should work...
    //margin-top: 0;
    //display:block;
    float:left;
}

// tried to center everything, eventually did this in-line, in the layouts
/*
.page-header{
  text-align: center 
}
.page-content{
  text-align: center 
}
*/

/*
// try to use @mixin to use site vars to dynamically change this from the config file
.page-header {
   @include center-everything
}
.page-content{
   @include center-everything
}
*/
