// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// todo: can't use liquid templating here?

// try to remove the extra space that comes above a list

.center {
   text-align: center; 
}

/*
// just get rid of this?
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 0; //$spacing-unit / 2;
}
*/

p + ul { //ol?
    margin-top: -$spacing-unit;);
}
/*
ul, ol {
  margin-left: $spacing-unit;
}
*/
/*
// inline on the p tag is kinda annoying...
p, ul, ol {
  margin-left: $spacing-unit; //snatched from the main scss file... but overrides, doesn't inherit this?
  display: inline;
}
*/

/*
// EPIC FAIL!
ul, ol {
    // one of these should work...
    padding: 0;
    margin 0;
    margin-top: 0;
    //font-size: 0px;
}
*/
/*
li {
  font-size: 16px;
  //font-size: $base-font-size; //error?
}
*/

// tried to center everything, eventually did this in-line, in the layouts
/*
.page-header{
  text-align: center 
}
.page-content{
  text-align: center 
}
*/

/*
// try to use @mixin to use site vars to dynamically change this from the config file
.page-header {
   @include center-everything
}
.page-content{
   @include center-everything
}
*/
